<%-include ('partials/header')%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
        <h1 class="ubuntu-light normaltitle">Kübizm</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto imgborder">
        <img src="/img/byza.gif" class="img-fluid" height:auto; alt="">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto textborder postbackground">
        <p class="posttext ubuntu-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus perspiciatis suscipit nulla, nihil asperiores eaque quas, omnis tenetur, error ad odit natus rem vel similique eveniet dolor excepturi debitis nobis alias nesciunt. Molestiae illo modi totam inventore voluptatibus atque, recusandae blanditiis soluta ipsum sed assumenda id dolorem fuga a consequuntur at fugiat maxime, libero, possimus maiores eius numquam impedit aspernatur. Vitae sed et modi illo suscipit rem aspernatur aut eum, consectetur corporis eos necessitatibus eius est doloremque ducimus soluta inventore blanditiis sit magni veritatis laborum. Consequuntur fuga mollitia, labore laboriosam obcaecati praesentium hic sit ut delectus aliquid repudiandae illo soluta!</p>
        </div>
    </div>

    <div class="row">
        <!-- Yazar -->
        <div class="col-md-6 postbackground">
            <p class="text-center">Yazar</p>
            <div class="card yesilborder mb-3 postbackground px-2 py-2 " style="max-width: 540px;">
                <div class="row ">
                  <div class="col-4">
                    <img src="/img/personimg/furkan.jpg" height="188px" width="159px" style="height: 150px; width: 150px; object-fit: cover;" class="card-img rounded-circle" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                        
                            <h5 class="card-title text-center">Vahap Onur YILDIRIM</h5>
                            <p class="card-text text-muted text-center">Web Geliştirici</p>
                            
                       
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!-- Grafiker -->
        <div class="col-md-6 postbackground">
            <p class="text-center">Grafiker</p>
            <div class="card yesilborder mb-3 postbackground px-2 py-2 " style="max-width: 540px;">
                <div class="row ">
                  <div class="col-4">
                    <img src="/img/personimg/furkan.jpg" height="188px" width="159px" style="height: 150px; width: 150px; object-fit: cover;" class="card-img rounded-circle" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                        
                            <h5 class="card-title text-center">Vahap Onur YILDIRIM</h5>
                            <p class="card-text text-muted text-center">Web Geliştirici</p>
                            
                       
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


<%- include('partials/footer')%>