@media only screen and (max-width:768px) {
    .menubar{
        height: 5em;
        display: flex;
       justify-content: space-around;
       align-items: center;
        background-color: #79B4B7;
        margin: auto;
     }
     .desk-menu{
         display: none;
     }
     #logo{
         width: 10rem;
     }
     .menuyazi{
         font-size: 1.2em;
     }
     .white{
         color: white;  
     }
     .white:hover{
         color:#F8F0DF;
     }
     body{
         background-color: #FEFBF3;
     }
     .yetmislik{
         width: 70%;
         
     }

     .card-color{
         background-color: #FEFBF3 !important;
     }
     .dumangri{
         color: #9D9D9D;
     }
     .hamburger{
         display: block;
     }
     .yesilsite{
        background-color: #79B4B7;
     }
}
