@media only screen and (min-width:770px) {
    .menubar{
        height: 5em;
        display: flex;
        
       justify-content: space-around;
       align-items: center;
        background-color: #79B4B7;
        margin: auto;
        overflow: auto;
     }
     .sticky{
    
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            top: 0;
            align-self: flex-start; /* <-- this is the fix */
              /* Not necessary -- for example only */
        
     }
     #logo{
         width: 10rem;
     }
     .menuyazi{
         font-size: 1.2em;
     }
     
     .whitebackground{
         background-color: white;
     }
     .white:hover{
         color:#F8F0DF;
     }
     .yesilsite{
        background-color: #79B4B7;
     }
     body{
         background-color: #FEFBF3;
     }
     .yetmislik{
         width: 70%;
         
     }

     .card-color{
         background-color: #FEFBF3 !important;
     }
     .dumangri{
         color: #9D9D9D;
     }
     .hamburger{
         display: none;
     }
}
.white{
    color: white;  
}
.imgborder{
    border: 5px solid #F8F0DF ;
    padding: 0;
}
.textborder{
    border: 5px solid #F8F0DF !important;
    padding: 0.3em;
}
.posttext{
    font-size:1.1em;
    letter-spacing:0.7px ;
    text-align: justify;
}

.bisiborder{
    border: 1px solid red !important;
}
.yesilborder{
    border-color: #79B4B7 !important;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif !important;
}
.ubuntu-ligth{
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300 !important;
}
.normaltitle { font-weight:normal !important; }
.postbackground{
    background-color: #c0af87 !important;
}
.yuvarlak{
    border-radius: 100%;
    object-fit: cover;
}
.mobilmenuitem{
    border-bottom: 1px solid #F8F0DF;
    margin-bottom: 5px;
}
.gray{
    color: gainsboro;
}
.mitem2:hover{
    color: azure;
}
.activemenu{
    color: #FEFBF3;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
